
body {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: .9em;
	background-color: #F2ECDA;
	background-image: url(./bkg_base.jpg);
	padding: 0 10px;
	margin: 0 auto;
	max-width: 1125px;
}

h1 {
	font-size: 2em;
	margin: 0 0 10px 0;
}

h2 {
	font-size: 1.75em;
	margin: 20px 0 5px 0;
	font-style: italic;
}

h3 {
	font-size: 1.5em;
	margin: 20px 0 5px 0;
}

h4 {
	font-size: 1.25em;
	margin: 20px 0 5px 0;
	font-style: italic;
}

h5 {
	font-size: 1em;
	margin: 10px 0 0 0;
}

h6 {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	margin: 10px 0 0 0;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
	margin-top: 0;
}

h1 + table.right + p, h2 + table.right + p, h3 + table.right + p, h4 + table.right + p, h5 + table.right + p, h6 + table.right + p {
	margin-top: 0;
}

a {
	outline: none;
}

a:link, a:visited {
	color: #000066;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #E5E5FF;
	text-decoration: none;
}

a:hover, a:active, th a:hover, th a:active {
	color: #000066;
	text-decoration: none;
	background-image: url(../images/linkbkg.png);
	background-repeat: repeat-x;
	background-position: left center;
}

a img {
	border: none;
}

a.diceRoller {
	color: #660000;
}

table {
	border-color: #8C7054;
	border-width: 1px;
	border-style: none solid solid none;
	width: 10px;
}

tr:nth-child(odd) td {
  background-color: #F2E0CE;
}

tr:nth-child(even) td {
  background-color: #FFF2E5;
}

.h2 th {
	background-color: #E5C3A1;
	text-align: left;
	font-style: italic;
	font-weight: bold;
	color: #000000;
}

td {
	vertical-align: top;
}

td, th {
	border-color: #8C7054;
	border-width: 1px;
	border-style: solid none none solid;
	padding: 1px 5px 1px 5px;
	white-space: nowrap;
}

li {
	margin-top: 5px;
}

.creature th {
  border: none;
  font-weight: bold;
	color: #000066;
  text-align: right;
  vertical-align: middle;
}

.creature td {
  white-space: pre;
  overflow-wrap: break-word;
}

.abilities p, .traits p {
  white-space: pre;
  overflow-wrap: break-word;
}
